html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: rgb(3, 5, 61);
  height: 70px;
  display: flex;
  align-items: center;
  width: 2000px;
}
.header nav {
  margin-left: 15px;
}
.header a {
  color: white;
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
  font-family: "BPG Banner Caps", sans-serif;
}
.header .tbc {
  width: 30px;
  margin-left: 10px;
}
.header .active {
  color: #a8c4ff;
}
.header a:hover {
  color: rgb(250, 250, 141);
}

.slogan {
  position: absolute;
}
.slogan img {
  position: absolute;
  width: 2000px;
  margin-top: 30px;
  height: 600px;
}
.slogan p {
  position: relative;
  position: relative;
  color: #fcffff;
  font-size: 30px;
  margin-top: 300px;
  margin-left: 800px;
}

.card {
  display: flex;
  gap: 30px;
  margin-top: 700px;
  align-items: center;
}
.card h1 {
  font-size: 35px;
  color: #0009a1;
  margin: 30px;
  font-family: "ALK Tall Mtavruli", sans-serif;
}
.card img {
  width: 390px;
  height: 280px;
  margin-left: 30px;
}
.card .divptag {
  width: 400px;
  color: rgb(43, 42, 42);
  line-height: 30px;
  font-size: 15px;
  margin-top: 60px;
}

.testimonial {
  line-height: 25px;
  margin-left: 25px;
  background-color: #e5e5ff;
  height: 230px;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
}
.testimonial li {
  font-family: "Arial GEO Italic", sans-serif;
}

.forma {
  display: flex;
  margin-left: 800px;
  margin-top: 57px;
  width: 900px;
  gap: 20px;
  flex-direction: column;
}
.forma h1 {
  font-size: 35px;
  color: #0009a1;
  margin: 0px;
  font-family: "ALK Tall Mtavruli", sans-serif;
}
.forma .register {
  display: flex;
  flex-direction: column;
  width: 370px;
}
.forma input {
  width: 100%;
  height: 45px;
  padding-left: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #F8F8F8;
  border: 1px solid rgb(210, 210, 226);
}
.forma button {
  height: 50px;
  background-color: #0d0164;
  color: #FBFBFF;
  border: 1px solid rgb(210, 210, 226);
}
.forma button:hover {
  background-color: rgb(3, 3, 56);
}

.contact {
  display: flex;
  justify-content: space-around;
  background-color: #03053d;
  height: 300px;
}
.contact .comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
.contact .comp div {
  width: 68px;
  height: 68px;
  background-color: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #010b51;
  font-size: 35px;
  margin-bottom: 16px;
}
.contact .names {
  font-weight: 700;
  font-size: 20px;
  color: #ebeaf1;
}
.contact .text {
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
}

.aboutus {
  display: flex;
  gap: 40px;
}
.aboutus img {
  margin-top: 30px;
  margin-left: 30px;
}
.aboutus p {
  margin-top: 30px;
  font-family: "Arial GEO Italic", sans-serif;
  line-height: 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.profile img {
  width: 130px;
}
.profile div {
  display: flex;
}
.profile div p {
  width: 700px;
  line-height: 20px;
  background-color: #d7ddf7;
  height: 120px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.slogan-container {
  width: 200px;
  height: 15px;
  border: 1px solid black;
  color: rgb(255, 255, 255);
  padding: 20px;
  transition: 1s;
  margin: 30px;
  align-content: center;
}

.slogan-container:hover {
  border-radius: 15px;
  font-size: 15px;
  background-color: rgb(0, 34, 145);
  transition: 1s ease-in-out;
}

.inside {
  display: flex;
  background-color: #e9f5ff;
}
.inside img {
  width: 400px;
  height: 300px;
  padding: 30px;
}

.contact {
  display: flex;
  justify-content: space-around;
  background-color: #03053d;
  height: 300px;
}
.contact .comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
.contact .comp div {
  width: 68px;
  height: 68px;
  background-color: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #010b51;
  font-size: 35px;
  margin-bottom: 16px;
}
.contact .names {
  font-weight: 700;
  font-size: 20px;
  color: #ebeaf1;
}
.contact .text {
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
}

h1 {
  font-size: 35px;
  color: #0009a1;
  margin: 30px;
  font-family: "ALK Tall Mtavruli", sans-serif;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}
.courses .course {
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: #313061;
}
.courses .course p {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
.courses .course img {
  width: 300px;
  height: 200px;
  display: block;
  transition: transform 0.3s;
}

.upcoming {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  background-color: #e5e5ff;
  height: 300px;
}
.upcoming p {
  font-family: "Arial GEO Italic", sans-serif;
  width: 300px;
  line-height: 20px;
  margin-left: 30px;
}
.upcoming h1 {
  font-size: 35px;
  color: #0009a1;
  margin: 30px;
  font-family: "ALK Tall Mtavruli", sans-serif;
}

.contact {
  display: flex;
  justify-content: space-around;
  background-color: #03053d;
  height: 300px;
}
.contact .comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
.contact .comp div {
  width: 68px;
  height: 68px;
  background-color: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #010b51;
  font-size: 35px;
  margin-bottom: 16px;
}
.contact .names {
  font-weight: 700;
  font-size: 20px;
  color: #ebeaf1;
}
.contact .text {
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
}

.contactmap {
  display: flex;
  gap: 400px;
  margin-bottom: 250px;
}
.contactmap .misamarti {
  margin-left: 30px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactmap h2 {
  font-size: 35px;
  color: #0009a1;
  margin-top: 30px;
  font-family: "ALK Tall Mtavruli", sans-serif;
}

.contact {
  display: flex;
  justify-content: space-around;
  background-color: #03053d;
  height: 300px;
}
.contact .comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
.contact .comp div {
  width: 68px;
  height: 68px;
  background-color: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #010b51;
  font-size: 35px;
  margin-bottom: 16px;
}
.contact .names {
  font-weight: 700;
  font-size: 20px;
  color: #ebeaf1;
}
.contact .text {
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .slogan {
    position: absolute;
  }
  .slogan img {
    position: absolute;
    width: 800px;
    margin-top: 30px;
    height: 500px;
  }
  .slogan p {
    position: relative;
    position: relative;
    color: #fcffff;
    margin-top: 250px;
    margin-left: 250px;
    font-size: 25px;
  }
  .card {
    display: flex;
    gap: 30px;
    margin-top: 700px;
    align-items: center;
  }
  .card h1 {
    font-size: 35px;
    color: #0009a1;
    margin: 30px;
    font-family: "ALK Tall Mtavruli", sans-serif;
  }
  .card img {
    width: 390px;
    height: 280px;
    margin-left: 30px;
  }
  .card .divptag {
    width: 400px;
    color: rgb(43, 42, 42);
    line-height: 30px;
    font-size: 15px;
    margin-top: 60px;
  }
}/*# sourceMappingURL=style.css.map */