.header {
    background-color: rgb(3 5 61);
    height: 70px;
    display: flex;
    align-items: center;
    width: 2000px;
    
    nav {
        margin-left: 15px;   
    }

    a {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-family: "BPG Banner Caps", sans-serif;;
    }

    .tbc {
    width: 30px;
    margin-left: 10px;
    }

    .active {
        color: #a8c4ff;
    }

    a:hover {
        color: rgb(250, 250, 141);
    }
    
}

.slogan {
    position: absolute;

    img {
        position: absolute;
        width: 2000px;
        margin-top: 30px;
        height: 600px;
    }

    p {
        position: relative;
        position: relative;
        color: #fcffff;
        font-size: 30px;
        margin-top: 300px;
        margin-left: 800px;
    }
}




.card {
    display: flex;
    gap: 30px;
    margin-top: 700px;

    .box {
    }

    h1 {
    font-size: 35px;
    color:  #0009a1;
    margin: 30px;
    font-family: "ALK Tall Mtavruli", sans-serif;
    }


    img {
        width: 390px;
        height: 280px;
        margin-left: 30px;
    }

    .divptag {
        width: 400px;
        color: rgb(43, 42, 42);
        line-height: 30px;
        font-size: 15px;
        margin-top: 100px;
    }
}

.testimonial {
    line-height: 25px;
    margin-left: 25px;
    background-color: #e5e5ff;
    height: 230px;
    text-align: center;
    padding: 5px;
    margin-top: 50px;

    li {
        font-family: "Arial GEO Italic", sans-serif;
    }

}


.forma {
    display: flex;
    margin-left: 800px;
    margin-top: 57px;
    width: 900px;
    gap: 20px;
    flex-direction: column;

    h1 {
    font-size: 35px;
    color: #0009a1;
    margin: 0px;
    font-family: "ALK Tall Mtavruli", sans-serif;
    }


    .register {
    display: flex;
    flex-direction: column;
    width: 370px}

    input {
    width: 100%;
    height: 45px;
    padding-left: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #F8F8F8;
    border:1px solid rgb(210, 210, 226) ;
}

    button {
    height: 50px;
    background-color:#0d0164 ;
    color: #FBFBFF;
    border:1px solid rgb(210, 210, 226) ;
}

    button:hover {   
    background-color: rgb(3, 3, 56);
}
}

.contact {
    display: flex;
    justify-content: space-around;
    background-color: #03053d;
    height: 300px;

    .comp {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 90px;
        
    div {
        width: 68px;
        height: 68px;
        background-color: #ffffff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #010b51;
        font-size: 35px;
        margin-bottom: 16px;   
    }
}

    .names {
        font-weight:700;
        font-size:20px;
        color: #ebeaf1;
}

    .text {
        font-weight:700;
        font-size:15px;
        color: #ffffff;
}
}